---
import ProjectTag from "./ProjectTag.astro";

interface Props {
  title: string;
  description: string;
  link?: string;
  github?: string;
  image?: string;
  tags?: any[];
}
const { title, description, github, image, link, tags } = Astro.props;
---

<article class="mb-16">
  <h3 class="text-2xl font-normal text-yellow-200/90 mb-2">{title}</h3>
  <p class="text-lg mb-4 text-pretty">{description}</p>
  <ul class="flex gap-x-6 flex-row flex-wrap mb-7">
    {tags?.map((tag) => <ProjectTag {...tag} />)}
  </ul>
  <img
    class="rounded shadow-2xl shadow-white/10"
    src={image}
    alt={`Img ${image}`}
  />
</article>
