---
const { name, class: classtag, icon: iconTag } = Astro.props;
---

<li>
  <span class={`flex gap-x-2 rounded-full text-sm  ${classtag} py-1 px-2`}>
    <Astro.props.icon class="size-5" />
    {name}
  </span>
</li>
